$black: #000000;
$dark-gray: #474749;
$light-gray: #a7a7a7;
$white: #ffffff;
$orange: #ff9500;

* {
  margin: 0;
  border: 0;
  padding: 0;
}

.App {
  overflow: hidden;
  position: fixed;
  background-color: $black;
  height: 100vh;
  height: -webkit-fill-available;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .Display {
    width: 700px;
    text-align: end;

    h1 {
      font-size: 60px;
      font-weight: 300;
      color: $light-gray;
    }

    h2 {
      height: 150px;
      font-size: 100px;
      font-weight: 200;
      color: $white;
    }
  }

  .Controls {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    button {
      margin: 10px;
      border: 0;
      padding: 0;
      min-width: 100px;
      height: 100px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Helvetica, Arial, sans-serif;
    }

    button.number {
      font-size: 50px;
      font-weight: 200;
      color: $white;
      background-color: $dark-gray;
    }

    button.operation {
      font-size: 50px;
      font-weight: 200;
      color: $white;
      background-color: $orange;
    }

    button.function {
      font-size: 40px;
      color: $black;
      background-color: $light-gray;
    }
  }
}
